table, th, td, tr {
  border:1px solid black;
  border-collapse: collapse;
}

.tabla{
  width: 100%;
}

.box
{
  background-color: cyan;
  border-radius: 5%;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-shadow: 5px 5px 10px #888888; 
}